body{
    display: grid;
    width: 1200px;
    height: 900px;
    grid-template-columns: 1fr 2fr;
}
form{
    grid-column: 2/4;
    width: 100%;
    padding: 20px;
}

#name{
    font-size: 35px;

}
#email{
    font-size: 35px;

}
#subscribe{
    font-size: 35px;
    padding: 10px;
    background-color: orange;
}
img{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
}