body {
    background-color: navy;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
}

@media screen and (max-width:921px) {
    body {
        grid-template-columns: 1fr 1fr;
        background-color: blue;
    }
}
@media screen and (max-width:725px ) {
    body{
        grid-template-columns: 1fr;
        background-color: orange;
    }
    
}
