@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;400;500;600&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,200;0,400;1,100;1,200&display=swap");

body {
  margin: 0;
}
header {
  background-color: #f2cb07;
  color: black;
  font-family: "Pacifico", cursive;
  display: grid;
  grid-template-columns: 150px auto;
  z-index: 2;
  border-bottom: solid rgba(0, 0, 0, 0.537) 5px;
  padding-bottom: 10px;
}
#logo {
  max-width: 200px;
  max-height: 200px;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.438);
  padding-left: 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  place-items: center;
  text-decoration: none;
}
nav a {
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  font-size: 20px;
  background-color: #403502;
  border: solid #403502 0.1em;
  border-radius: 1em;
  color: aliceblue;
  padding: 1em;
}
main {
  background-color: #f2cb07;
  margin: auto 0;
  background: linear-gradient(
    180deg,
    #f2cb07 0%,
    #f2cb07 25%,
    black 45%,
    black 60%,
    #f2cb07 75%,
    #f2cb07 100%
  );
}
#titel {
  text-align: center;
  color: black;
  margin: 0;
  font-size: 2em;
  padding: 1em;
  font-family: "Roboto Mono", monospace;
}
.gridtop {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  display: grid;
  padding: 10px;
}
.gridbottom {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  display: grid;
  padding: 10px;
  padding-bottom: 50px;
}

.story {
  width: 89%;
  grid-row: 1;
  grid-column: 1/2;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.438);
  padding: 10px;
  max-height: 754px;
  background-color: #403502;
  border-radius: 1em;
  text-align: center;
}
.story h3 {
  font-family: "Press Start 2P", cursive;
}
.story p {
  font-family: "M PLUS 1 Code", sans-serif;
  text-align: center;
  font-size: 20px;
}
.why {
  width: 89%;
  grid-row: 1;
  max-height: 754px;
  grid-column: 2/3;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.438);
  padding: 10px;
  background-color: #403502;
  border-radius: 1em;
  text-align: center;
}
.why h3 {
  font-family: "Press Start 2P", cursive;
}
.why p {
  font-family: "M PLUS 1 Code", sans-serif;
  text-align: center;
  font-size: 20px;
}
.shop {
  width: 89%;
  max-height: 754px;
  grid-row: 1;
  grid-column: 3/5;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.438);
  padding: 10px;
  background-color: #403502;
  border-radius: 1em;
  text-align: center;
}
.shop h3 {
  font-family: "Press Start 2P", cursive;
}
.shop p {
  font-family: "M PLUS 1 Code", sans-serif;
  text-align: center;
  font-size: 20px;
}
.story img {
  width: 427px;
  max-height: 533px;

  border-radius: 0.5em;
}
.why img {
  width: 427px;
  max-height: 533px;

  border-radius: 0.5em;
}
.shop img {
  width: 427px;
  max-height: 533px;
  border-radius: 0.5em;
}
.shop-now {
  background-color: #403502;
  border: solid #403502 0.1em;
  border-radius: 1em;
  color: aliceblue;
  padding: 0.75em;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 1.5em;
}
.about-image-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.about-image-center {
  /* background: linear-gradient(to bottom, #f2cb07, black, black, #f2cb07); */
}
footer a {
  color: white;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
}
footer a:hover {
  color: red;
}
footer p {
  font-size: 1.2em;
  font-family: "Roboto Slab", serif;
}
footer p a:hover {
  text-decoration: underline;
}
footer {
  padding: 25px 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #403502;
  color: white;
}
footer .social img {
  padding-top: 15px;
}
footer .social img {
  padding-top: 15px;
}
