@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;400;500;600&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,200;0,400;1,100;1,200&display=swap");
body {
  margin: 0;
}
header {
  background-color: #f2cb07;
  color: black;
  font-family: "Pacifico", cursive;
  display: grid;
  grid-template-columns: 150px auto;
  z-index: 2;
  border-bottom: solid black 5px;
  padding-bottom: 10px;
}
#logo {
  max-width: 150px;
  max-height: 150px;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.438);
  margin-left: 10px;
  margin-top: 5px;
}
nav {
  display: flex;
  justify-content: space-around;
  place-items: center;
  text-decoration: none;
}
nav a {
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  font-size: 20px;
  background-color: #403502;
  border: solid #403502 0.1em;
  border-radius: 1em;
  color: aliceblue;
  padding: 1em;
}
main{
    background-color:#f2cb07;
    margin-top: 0px;
    padding: 0;
}
form {
    width: 70%;
    margin: 0 auto;
    padding: 2em;
    background-color: #403502;
    border-radius: 1em;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.438);
  }
  
  form h2 {
    font-family: "Press Start 2P", cursive;
    text-align: center;
    color: aliceblue;
  }
  
  form ul {
    list-style: none;
    padding: 0;
  }
  
  form li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
  }
  
  form label {
    font-family: "Roboto Mono", monospace;
    color: aliceblue;
    font-size: 1.2em;
    flex-basis: 30%;
    text-align: right;
  }
  
  form input {
    font-size: 1em;
    padding: 0.5em;
    flex-basis: 60%;
  }

  #feedback{
    padding-bottom: 20px;
  }
  a:hover {
    color: red;
  }
  
  form .button {
    justify-content: center;
  }
  form .button:hover{
    color: red;
  }
  button:hover {
    color:red;
  }
  form button {
    background-color: #403502;
    border: solid #403502 0.1em;
    border-radius: 1em;
    color: aliceblue;
    padding: 0.75em;
    text-decoration: none;
    font-family: "Press Start 2P", cursive;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  .shopgrid{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
  }
  .t-shirt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: #403502;
    border-radius: 1em;
    margin: 2em;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.438);
  }
  h1{
    font-family:"Press Start 2P";
    text-align: center;
    padding: 15px;
    margin: 0px;
  }
  .t-shirt img {
    width: 90%;
    max-height: 533px;
    border-radius: 0.5em;
  }
  
  .t-shirt h3 {
    font-family: "Press Start 2P", cursive;
    color: aliceblue;
    margin: 1em 0;
  }
  
  .t-shirt p {
    font-family: "Roboto Mono", monospace;
    color: aliceblue;
  }
  
  .product-price {
    font-size: 1.5em;
    color: #f2cb07;
  }
  
  .buy-button {
    display: inline-block;
    background-color: #403502;
    border: solid #403502 0.1em;
    border-radius: 1em;
    color: aliceblue;
    padding: 0.75em;
    text-decoration: none;
    font-family: "Press Start 2P", cursive;
    text-align: center;
    font-size: 1.5em;
    margin: 1em 0;
    cursor: pointer;
  }
  
footer a {
    color: white;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
  }
  footer a:hover {
    color: red;
  }
  footer p {
    font-size: 1.2em;
    font-family: "Roboto Slab", serif;
  }
  footer p a:hover {
    text-decoration: underline;
  }
  footer {
    padding: 25px 50px;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #403502;
    color: white;
  }
  footer .social img {
    padding-top: 15px;
  }
  footer .social img {
    padding-top: 15px;
  }